@model IEnumerable<HRMSProject.Models.VmBank>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="container-fluid">
    <br />
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BankId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>

                    <td>
                        <a asp-controller="Banks" asp-action="Edit" asp-route-id="@item.BankId" class="btn btn-primary">Edit</a>
                        <a class="btn btn-success" asp-controller="Banks" asp-action="Details" asp-route-id="@item.BankId">Details</a>
                        <a class="btn btn-danger" asp-controller="Banks" asp-action="Delete" onclick="myFunction()" asp-route-id="@item.BankId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        function myFunction() {
            alert("Are you sure you want to delete this?");
        };
    </script>
}